@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-wrap: pretty;
  color: white;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: rgb(10, 10, 10);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.5) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(20, 20, 20, 0.5) 0.1em, transparent 0.1em);

  background-size: 5em 5em;
}

.largeShadow {
  text-shadow: 0px 0px 120px rgb(36, 238, 133);
}
